Django==2.2.20
django-allauth
django-cors-headers
django-leaflet
django-rest-auth
djangorestframework
markdown
django-filter
oauthlib
pytz
requests
requests-oauthlib
six
sqlparse
psycopg2
